<!-- Footer -->
<footer class="bg-dark">
    <div class="container pt-5 pb-4">
        <div class="row justify-content-between align-items-end">
            <div class="col-6 col-md-4 text-left text-white-50 my-1">
                <h3 class="text-white">Thomas Anderson</h1>
                <h6>IT Consultant</h2>
                <h6>Wakefield</h2>
                <h6 class="mb-0"><a class="text-muted" href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></h2>
            </div>
            <div class="col-6 col-md-4">
                <p class="text-muted">Please use <a class="text-muted" href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
                <p class="mb-0 text-right text-secondary">Copyright &copy; Tom Anderson 2020</p>
            </div>
        </div>
    </div>
    
    <div class="row m-0 text-muted small justify-content-between">
        <!-- Revision Details -->
        <div class="col-6 p-0 text-left">{{ rev }}</div>
        <!-- Terms of Service and Privacy Policy -->
        <div class="col-6 text-right"><a class="text-muted" href="{{ url_for('terms') }}">Terms of Service</a> | <a class="text-muted" href="{{ url_for('privacy') }}">Privacy Policy</a></div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script>appStart();</script>
