<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-family: 'Raleway'">Tom<span class="text-secondary">Anderson</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if 'Home' == active_page %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item {% if 'About' == active_page %} active{% endif %}">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item d-flex align-items-center">
                <div id="gsignin"><button id="gbutton" type="button" style="font-family: 'Roboto'" class="nav-link btn btn-sm btn-light text-secondary ml-2 py-1 pl-1"><i class="fab fa-fw fa-google mr-1 text-secondary"></i>Sign In</button></div>
            </li>
        </ul>
        </div>
    </div>
</nav>