{% extends "_base.html" %}
{% set active_page = "About" %}

{% block title %}About{% endblock %}

{% block content %}
<header class="bg-primary py-5 mt-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-7">
                <h1 class="display-4 text-white mt-5 mb-2"><i class="fas fa-info-circle mx-2" aria-hidden="true"></i>A bit of info...</h1>
                <hr />
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Me</h2>
            <hr>
            <p>I'm a Physics graduate working as an IT consultant for <a href="https://www.netpremacy.com">Netpremacy</a> providing technical pre-sales expertise on the Google Cloud Platform and G Suite platforms.</p>
            <p>Often I'll create the odd project, generally written in Python and hosted on Google Cloud Platform (GCP). All my public code is available on my GitHub page.</p>
            <div class="card text-secondary bg-light mb-3">
                <div class="card-body">
                    <p class="card-text">Please use LinkedIn for any profesional queries, otherwise you can use the address at the bottom of the page to contact me.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Qualifications<i class="fas fa-xs fa-award ml-2"></i></h2>
            <hr>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">BSc and MPhys in Physics from the University of Leeds</li>
                <li class="list-group-item list-group-item-warning">Google Cloud Professional Collaboration Engineer</li>
                <li class="list-group-item list-group-item-warning">Google Cloud Associate Cloud Engineer</li>
                <li class="list-group-item list-group-item-info">Okta Professional and Administrator</li>
                <li class="list-group-item list-group-item-primary">MCSE: Productivity, MCSA: Office 365</li>
            </ul>
            <hr>
            <div class="text-center">
                <a class="btn btn-primary btn-md" href="https://www.linkedin.com/in/th0masanderson/"><i class="fab fa-linkedin mr-1"></i> Read more on my LinkedIn page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}