{% extends "_base.html" %}

{% block title %}Broadband{% endblock %}

{% block content %}
<header class="bg-primary py-5 mt-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-7">
                <h1 class="display-4 text-white mt-5 mb-2">Broadband Metrics</h1>
                <hr />
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h2><i class="fas fa-tachometer-alt mr-2"></i>WKF</h2>
            <hr>
            <p>Below is a live image of the past 24hrs showing metrics about the broadband connection at WKF.</p>
            <div class="text-center">
            <a title="Broadband Ping" href="https://www.thinkbroadband.com/broadband/monitoring/quality/share/b9e7a78c0559fbcb8a4f1b89a4819032ea9ff071"><img alt="My Broadband Ping - WKF" src="https://www.thinkbroadband.com/broadband/monitoring/quality/share/b9e7a78c0559fbcb8a4f1b89a4819032ea9ff071.png" /></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}