{% extends "_base.html" %}
{% set active_page = "Home" %}

{% block title %}Home{% endblock %}

{% block content %}
<header class="bg-primary py-5 mt-5" style="height: 100vh; min-height: 500px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-6 offset-3 col-sm-3 offset-sm-1">
                <img src="https://storage.googleapis.com/anderson-an9302-assets/img/me_circle.png" class="border border-light rounded-circle img-fluid float-left" />
            </div>
            <div class="col-12 col-sm-7">
                <h1 class="display-4 text-white mt-5 mb-2">Hi.</h1>
                <hr />
                <p class="lead mb-0 text-white-50">I'm Tom Anderson, and this is my personal site. Have a look around!</p>
                <p class="lead mb-5 mr-5 text-white-50 text-right" style="font-family: 'Indie Flower', cursive">Tom</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid bg-secondary">
    <div class="row">
        <div class="col-8 offset-2 mt-5 mb-5 text-center">
            <h1 class="text-white">Some of my work...</h1>
            <a class="btn btn-dark btn-lg mx-1 mt-3" href="https://github.com/Driminary"><i class="fab fa-fw fa-github fa-3x"></i></a>
            <a class="btn btn-light btn-lg mx-1 mt-3" href="https://googlecloudcertified.credential.net/profile/0a0997a4f8b4ce5db4ded3ad1209b1762bac02a8"><i class="fab fa-fw fa-google fa-3x text-secondary"></i></a>
            <a class="btn btn-light btn-lg text-primary mx-1 mt-3" href="https://www.youracclaim.com/users/thomas-anderson.64196b60"><i class="fab fa-fw fa-microsoft fa-3x" aria-hidden="true"></i></a>
            <a class="btn btn-primary btn-lg mx-1 mt-3" href="https://www.linkedin.com/in/th0masanderson/"><i class="fab fa-fw fa-linkedin fa-3x"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 mb-5 text-center">
            <h1 class="text-white">Comments? Suggestions? Queries?</h1>
            <p class="lead text-white-50">Please use the address below.</p>
            <a class="btn btn-primary btn-lg" href="mailto:me@thomas-anderson.net"><i class="fas fa-envelope-open-text mr-2"></i> me@thomas-anderson.net</a>
        </div>
    </div>
</div>
{% endblock %}