<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tom Anderson's personal website.">
    <meta name="author" content="Thomas Anderson">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Tom Anderson</title>

    <!-- Bootstrap core CSS -->
    <link href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/css/main.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="//static/assets/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//static/assets/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//static/assets/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//static/assets/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//static/assets/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//static/assets/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//static/assets/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//static/assets/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//static/assets/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="//static/assets/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//static/assets/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//static/assets/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//static/assets/img/ico/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="//static/assets/img/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	
	<!-- Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-85751744-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-85751744-1');
	</script>

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><b>Tom Anderson</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home">Home</a></li>
	            <li><a href="#about">About Me</a></li>
	            <li><a href="#contact">Contact</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<img src=".//static/assets/img/me_circle.png" style="width:20%">
					<h1>I'm <b>Tom</b></h1>
					<h3>This is my personal website.</h3>
					<br>
	    		</div>
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="about" name="about"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>A Little About Me</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="/static/assets/img/user.png" width="128px" alt="">
					<h3>Me</h3>
					<p>An IT consultant for <a href="https://www.netpremacy.com">Netpremacy</a> providing technical pre-sales expertise on the Google Cloud Platform and G Suite product set.</p>
				</div>
				<div class="col-lg-4">
					<img src="/static/assets/img/qualifications.png" width="128px" alt="">
					<h3>Qualifications</h3>
          <p>- MPhys in Physics from University of Leeds
          <br />- Okta Professional and Administrator
          <br />- MCSE: Productivity, MCSA: Office 365
          <br /><a href="https://uk.linkedin.com/in/th0masanderson">More...</a></p>
				</div>
				<div class="col-lg-4">
					<img src="/static/assets/img/contact.png" width="128px" alt="">
					<h3>Contact</h3>
					<p>Please use <a href="https://uk.linkedin.com/in/th0masanderson">LinkedIn</a> for any professional enquiries.
          <br />Any other queries, please use the contact form below to email me.</p>
				</div>
			</div>
			<br>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<section id="showcase" name="showcase"></section>
	<div id="showcase">
		<div class="container">
			<div class="col-lg-12">
				<h1 class="centered"><b>Comments? Suggestions? Queries?</b>
        <br />Please use the address below.</h1>
			</div>
			<br>
			<br>
			<br>
		</div><!-- /container -->
	</div>


	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>Thomas Anderson</h3>
				<p>
				IT Consultant<br/>
				United Kingdom<br/>
				</p>
			</div>

			<div class="col-lg-7">
				<h3>Send me an email</h3>
				<br>
        <p class="label label-large label-info"><a style="color: #fff;" href="mailto:me@thomas-anderson.net">Me@Thomas-Anderson.Net</a></p>
			</div>
		</div>
	</div>
	<div id="c">
		<div class="container">
			<p>Site &copy; 2019 Thomas Anderson | Original Design by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
		</div>
	</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		
  </body>
</html>
