<!DOCTYPE html>
<html lang="en">

{% include head.liquid %}

<body class="text-raleway">

{% include nav.liquid %}

<!-- Move content down from navbar -->
<div class="mt-12">
{{ content }}
</div>

{% include footer.liquid %}

<!-- Google Fonts (Avoiding render blocking) -->
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

</body>

</html>