<!DOCTYPE html>
<html lang="en">

{% include head.liquid %}

<body class="text-raleway">

{% include nav.liquid %}

<!-- Move content down from navbar -->
<div class="mt-12">
{{ content }}
</div>

{% include footer.liquid %}

</body>

</html>