<!DOCTYPE html>
<html lang="en">

{% include head.liquid %}

<body class="text-raleway">

{% include nav.liquid %}

<!-- Move content down from navbar -->
{{ content }}

{% include footer.liquid %}

</body>

</html>