<!DOCTYPE html>
<html lang="en" style="font-family: 'Raleway'">

{% include head.liquid %}

<body>

{% include nav.liquid %}

<!-- Move content down from navbar -->
<div class="mt-12">
{{ content }}
</div>

{% include footer.liquid %}

</body>

</html>