<!-- Footer -->
<footer class="bg-gray-800 border-t border-gray-500 h-full overflow-hidden">
    <div class="grid grid-cols-2 md:grid-cols-3 items-center px-10 pt-10 pb-5 text-white">
        <div>
            <h4>Thomas Anderson</h1>
                <h6 class="text-gray-500">IT Consultant</h6>
                    <h6 class="text-gray-500">Wakefield</h6>
                        <h6 class="text-gray-600"><a href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></h6>
        </div>
        <div class="md:col-start-3">
            <p class="text-gray-600">Please use <a href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
        </div>
    </div>

    <!-- Copyright, Terms of Service and Privacy Policy -->
    <div class="text-xs text-gray-500 float-left m-1 ml-2">&copy; 2020 Thomas Anderson | <a class="underline" href="/terms">Terms of Service</a> | <a class="underline" href="/privacy">Privacy Policy</a></div>
</footer>