<!-- Footer -->
<footer class="bg-deep-gray-100 border-t border-gray-900 overflow-hidden mt-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 items-center px-5 py-10 w-full mx-auto sm:max-w-screen-lg text-gray-200">
        <div>
            <p class="text-lg font-semibold text-white">Thomas Anderson</p>
                <p>IT Consultant</p>
                    <p>Wakefield</p>
                        <p class="underline"><a href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></p>
        </div>
        <div class="order-last col-span-2 md:order-none md:col-auto">
            <div class="border border-gray-700 bg-deep-gray-200 text-gray-300 p-3 my-2 flex items-center rounded-lg shadow">
            <i class="fas fa-info-circle text-4xl float-left ml-1 mr-3"></i>
            <p class="text-sm">Please use <a class="underline" href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
            </div>
        </div>
        <div class="text-sm text-right">
            <ul>
                <li>Home</li>
                <li>GitHub</li>
                <li>LinkedIn</li>
            </ul>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-xs text-gray-200 text-left m-1 ml-2">&copy; 2020 Thomas Anderson</div>
</footer>