<!-- Footer -->
<footer>
    <div>
        <div>
            <div>
                <h3>Thomas Anderson</h1>
                    <h6>IT Consultant</h2>
                        <h6>Wakefield</h2>
                            <h6><a href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></h2>
            </div>
            <div>
                <p>Please use <a href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
                <p>Copyright &copy; Tom Anderson 2020</p>
            </div>
        </div>
    </div>

    <div>
        <!-- Revision Details -->
        <div>ta-net-production-538eff9</div>
        <!-- Terms of Service and Privacy Policy -->
        <div><a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></div>
    </div>
</footer>