<!-- Footer -->
<footer class="bg-gray-200 border-t border-gray-500 h-full overflow-hidden">
    <div class="grid grid-cols-2 md:grid-cols-3 items-center px-10 py-5 w-full mx-auto sm:max-w-screen-lg text-gray-900">
        <div>
            <p class="text-lg font-semibold text-black">Thomas Anderson</p>
                <p>IT Consultant</p>
                    <p>Wakefield</p>
                        <p class="underline"><a href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></p>
        </div>
        <div class="md:col-start-3">
            <p class="text-sm">Please use <a class="underline" href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-xs text-gray-800 float-left m-1 ml-2">&copy; 2020 Thomas Anderson</div>
</footer>