<!-- Footer -->
<footer class="bg-deep-gray-100 border-t border-gray-900 overflow-hidden mt-auto relative visibility-auto tracked">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 items-center px-5 py-10 w-full mx-auto sm:max-w-screen-xl text-gray-200">
        <div>
            <p class="text-lg font-semibold text-white">Thomas Anderson</p>
                <p>IT Consultant</p>
                    <p>Wakefield</p>
                        <p class="underline"><a href="mailto:me@thomas-anderson.net">me@thomas-anderson.net</a></p>
        </div>
        <div class="order-last col-span-2 md:order-none md:col-auto">
            <div class="border border-gray-700 bg-deep-gray-200 text-gray-300 p-3 my-2 flex items-center rounded-lg shadow">
            <i class="fas fa-info-circle text-4xl float-left ml-1 mr-3"></i>
            <p class="text-sm">Please use <a class="underline" href="https://www.linkedin.com/in/th0masanderson/">LinkedIn</a> for any professional queries and for anything else, please use my email.</p>
            </div>
        </div>
        <div class="text-sm text-right">
            <ul>
                <li class="py-1"><a href="https://github.com/Driminary">GitHub <i title="GitHub" class="fab fa-fw fa-github"></i></a></li>
                <li class="py-1"><a href="https://www.linkedin.com/in/th0masanderson/">LinkedIn <i class="fab fa-fw fa-linkedin"></i></a></li>
                <li class="py-1"><a href="https://dev.to/ndsn">DEV.to <i class="fab fa-fw fa-dev"></i></a></li>
                <li class="py-1"><a href="https://www.buymeacoffee.com/ndsn">Buy me a coffee <i class="fas fa-fw fa-mug-hot"></i></a></li>
            </ul>
        </div>
    </div>

    <a title="website source code" href="https://github.com/Driminary/thomas-anderson.net">
    <div class="absolute right-0 bottom-0 transform -rotate-45 translate-y-4 translate-x-16 w-40 pt-1 pb-5 pr-4 text-center text-sm text-gray-800 bg-gray-400 font-semibold">Open Source<br /><i title="GitHub" class="fab fa-fw fa-github text-3xl"></i></div>
    </a>

    <!-- Copyright -->
    <div class="text-xs text-gray-200 text-left m-1 ml-2">&copy; 2021 Thomas Anderson | <a href="https://github.com/Driminary/thomas-anderson.net/commit/{{ environment.commit }}">{{ environment.platformprefix }}{{ environment.commit }}</a></div>
</footer>
