<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Tom Anderson's personal website">
	<meta name="author" content="Thomas Anderson">

	<title>Tom Anderson - {{ title }}</title>

    <!-- Preconnect to Google Fonts and Font Awesome to improve performance -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://kit-free.fontawesome.com/" crossorigin>

    <!-- Google Fonts (Improved performance from https://csswizardry.com/2020/05/the-fastest-google-fonts/) -->
    <link rel="preload" as="style" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=fallback" />
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=fallback"
          media="print" onload="this.media='all'" />
    <noscript>
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=fallback" />
    </noscript>

    <!-- Font Awesome (With defer for performance) -->
    <script defer src="https://kit.fontawesome.com/37747d6ece.js" crossorigin="anonymous"></script>

    <!-- Google Analytics - Using ga-lite (https://github.com/jehna/ga-lite) -->
    <script async src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js"></script>
    <script>var galite = galite || {}; galite.UA = 'G-58GDGC1QE2';</script>

    <!-- Custom CSS -->
    <link href="/css/bundle.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

</head>