<head>

    <!-- {{ git.commit }} -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Tom Anderson's personal website">
	<meta name="author" content="Thomas Anderson">

	<title>Tom Anderson - {{ title }}</title>

	<!-- Google Analytics - Using ga-lite (https://github.com/jehna/ga-lite) -->
    <script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async></script>
    <script>var galite = galite || {}; galite.UA = 'G-58GDGC1QE2';</script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/37747d6ece.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/bundle.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

</head>