<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tom Anderson is a physics graduate working as an IT consultant for Netpremacy providing technical expertise on Google Cloud and other cloud technologies.">
    <meta name="author" content="Thomas Anderson">

    <title>Tom Anderson</title>

    <!-- Preconnect to Google Fonts and Font Awesome to improve performance -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="https://kit-free.fontawesome.com/" crossorigin>

    <!-- Preload Font Awesome to improve performance -->
    <link rel="preload" as="style" href="https://kit-free.fontawesome.com/releases/v6.0.0-beta3/css/free.min.css">

    <!-- Google Fonts (Improved performance from https://csswizardry.com/2020/05/the-fastest-google-fonts/) -->
    <link rel="preload" as="style" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=swap" />
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=swap"
          media="print" onload="this.media='all'" />
    <noscript>
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Raleway{% if additional_gfonts != blank %}&family={{ additional_gfonts }}{% endif %}&display=swap" />
    </noscript>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v6.0.0-beta3/css/free.min.css">

    <!-- Custom CSS -->
    <link href="/css/bundle.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

</head>
